@import 'tailwindcss';

:root {
  color-scheme: dark light;
}

body {
  background-color: rgb(2 6 23);
  color: rgb(241 245 249);
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 2s infinite;
}
